
<!DOCTYPE html>
<html lang="">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Login</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <style>
        .vertical-center {
            min-height: 100%;  
            min-height: 100vh; 
            background : inherit;
            display: flex;
            align-items: center;
        }
        .container{
            padding: 30px;
            width: 400px;
            background-color:#f8f9fa!important;
            border-radius: 5px;
        }
        body{
            background: url('../img/login_cover.jpg');
        }
    </style>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="../img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                RentRoom
            </a>
            <a href="/register" class="btn btn-success " title="register an account" >Sign Up</a>
        </nav>
        {% if messages %} 
        {%for message in messages %} 
        <div class="alert alert-{% if message.tags == 'error' %}danger{% endif %}{% if message.tags != 'error' %}success{% endif %}" role="alert">
            {{message}}
            {{message.tags}}
        </div>
        {%endfor%} {% endif %}
        <div class="jumbotron vertical-center">
            <div class="container">
                <h2> Sign In</h2>
                <form id="signin" method="POST" action="/session">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input title="login email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" title="login password" class="form-control" id="password" placeholder="Password">
                    </div>
                  
                    <button type="submit" title="login" class="btn btn-block btn-primary">Submit</button>
                </form>
                
               
    
            </div>
        </div>
            
            
            
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../js/signin.js"></script>
    </body>
</html>
        