
<!DOCTYPE html>
<html lang="">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <style>
      body{
        background-color: #f0f0f0;
      }
      .container-fluid{
          
      }.dropdown{
        display: inline;
      }
      @media only screen and (min-width: 500px) {
          .height{
            height:100vh;

          }
      }
      .col-md-3{
        margin-top: 50px;
      }
    </style>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="home.html" class="navbar-brand" href="#">
            <img src="../img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            RentRoom
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-right: auto;">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link" title="View ads you posted" href="#">My Ads</a>
                </li>
                <li class="nav-item">
                    <a href="report.html" class="nav-link" title="View usage report" href="#">Report</a>
                </li>
            </ul>
            <a  href="/logout" ><i class="fa fa-user" style="color:black" aria-hidden="true"></i>            </a>
        </div>
      </nav>
      {% if messages %} 
      {%for message in messages %} 
      <div class="alert alert-success" role="alert">
          {{message}}
      </div>
      {%endfor%} {% endif %}
      <div class="container-fluid">
          
          <div class="row">
              <div class=" col-md-12">
                  
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 50px;">
                        {% if landlord %}      
                        <a href="/properties/new" title="post an ad"  class="btn btn-primary">+Add</a>
                          {% endif %}
                          <br />
                          <h2>Pending</h2>
                          <div class="row">
                            {% for p in pending %}
                              <div class="col-md-3 ">
                                <div class="card" style="width: 18rem;">
                                  <img class="card-img-top" src="{{p.property_pics.url}}" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">{{p.title}}</h5>
                                      <p class="card-text">
                                        <strong>Address: </strong>  {{p.address}} <br/>
                                        <strong>Rent: </strong> {{p.rent}} <br/>
                                        <strong>Description: </strong>  {{p.description}} <br/>
                                      </p>
                                    <a href="#" data-toggle="modal" data-target="#approve{{p.id}}" title="edit this ad" class="btn btn-primary" style="width:100%">Approve</a>
                                    <a href="#" title="delete this ad" class="btn btn-danger" data-toggle="modal" data-target="#disapprove{{p.id}}"  style="width:100%">disapprove</a>
                                    <a href="/properties/view?id={{p.id}}" title="view this ad" class="btn btn-info" style="width:100%">View</a>
                                  
                                    <div class="modal fade" id="approve{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="#approve{{p.id}}" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Approve property</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <h2>Approve: {{p.title}}</h2>
                                            <form action="/properties/approve?id={{p.id}}" method="post">
                                              <textarea required class="form-control" name="reason" id="" cols="30" rows="10"></textarea>
                                              {% csrf_token %}
              
                                              <button type="submit" class="btn btn-primary">Submit</button>
                                              
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                   
                                   
                                   
                                   
                                    <div class="modal fade" id="disapprove{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="#approve{{p.id}}" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Disapprove property</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <h2>Disapprove: {{p.title}}</h2>
                                            <form action="/properties/disapprove?id={{p.id}}" method="post">
                                              <textarea required class="form-control" name="reason" id="" cols="30" rows="10"></textarea>
                                              {% csrf_token %}
              
                                              <button type="submit" class="btn btn-primary">Submit</button>
                                              
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>



                                  </div>
                                </div>
                              </div>
                              {% endfor %}
                          </div> 

                      </div>
                  </div>
                  
              </div>
              
          </div>
          
      </div>
      
      
      
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
        